body, html {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
}

#textInput {
    height: 25%;
    border: 1px solid black;
    margin-bottom: 20px;
    overflow-y: auto;
    padding: 10px;
}

#controls {
    display: flex;
    justify-content: center;
    padding: 10px;
}

button, input[type=range] {
    margin: 0 10px;
}
